.product__details_info {
  background-color: white;
  width: 120%;
  flex-direction: column;
border-radius: 12px;
  display: flex;
  height: 300px;
    position: relative;
  box-shadow: 2px 3px 7px rgba(205, 199, 199, 0.6);
}

.product__row {
  align-items: center;
  justify-content: start;
  align-items: flex-start;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 12px;
}

.product__image {
  margin-top: 4rem;
  width: 250px;
  height: 150px;
  object-fit: cover;
  padding: 1rem;

  margin-left: 2rem;
  display: flex;
  align-items: center;
  box-shadow: 2px 3px 7px rgba(205, 199, 199, 0.6);


  border-radius: 12px;
}

.product_title {
  font-weight: 500;
  font-size: 16px;
  display: flex;
  margin-top: 10%;
  margin-left: 2rem;

}

.details__info {
  margin-left: 2rem;
  margin-top: 1rem;

align-items: center;
text-align: start;
  gap: 2rem;
  
  align-items: center;
  display: flex;
}

.movie_logo_view{
padding: 12px;
  background-color: black;
  width: 70px;
  object-fit: cover;
}
.outline_border{
  border:  1px solid gray;
  color: orange;
}